In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('rainfall.csv')

In [3]:
data.head()

             Date/Time  Current rainfall (mm)  Cumulative rainfall (mm)
0  2018-12-02 18:00:00                    0.0                       0.0
1  2018-12-02 17:00:00                    0.0                       0.0
2  2018-12-02 16:00:00                    0.0                       0.0
3  2018-12-02 15:00:00                    0.0                       0.0
4  2018-12-02 14:00:00                    0.0                       0.0

In [4]:
data.shape

(78848, 3)

In [5]:
data.describe()

       Current rainfall (mm)  Cumulative rainfall (mm)
count           78844.000000              78847.000000
mean                0.049206                  0.586580
std                 0.765296                  2.770216
min                 0.000000                  0.000000
25%                 0.000000                  0.000000
50%                 0.000000                  0.000000
75%                 0.000000                  0.000000
max               110.000000                111.400000

In [6]:
data_water= pd.read_csv('WaterLevels.csv')

In [7]:
data_water.head()

             Date/Time  Level (m)
0  2018-12-02 17:00:00       1.61
1  2018-12-02 16:00:00       1.61
2  2018-12-02 15:00:00       1.62
3  2018-12-02 14:00:00       1.63
4  2018-12-02 13:00:00       1.63

In [8]:
data_water.shape

(78822, 2)

In [9]:
data_water.describe()

          Level (m)
count  78822.000000
mean       1.453701
std        0.113859
min        0.000000
25%        1.400000
50%        1.450000
75%        1.500000
max        3.300000

In [10]:
#data['Date/Time'] = data['Date/Time'].str.replace('00:00',"")
df= pd.merge(data_water , data, how='outer', on=['Date/Time'])
df.head()

,Date/Time,Level (m),Current rainfall (mm),Cumulative rainfall (mm)
0,2018-12-02 17:00:00,1.61,0.0,0.0
1,2018-12-02 16:00:00,1.61,0.0,0.0
2,2018-12-02 15:00:00,1.62,0.0,0.0
3,2018-12-02 14:00:00,1.63,0.0,0.0
4,2018-12-02 13:00:00,1.63,0.0,0.0

In [11]:
df['Cumulative rainfall (mm)'] = df['Cumulative rainfall (mm)'].fillna(0)
df['Level (m)']= df['Level (m)'].fillna(0)
df.head()

,Date/Time,Level (m),Current rainfall (mm),Cumulative rainfall (mm)
0,2018-12-02 17:00:00,1.61,0.0,0.0
1,2018-12-02 16:00:00,1.61,0.0,0.0
2,2018-12-02 15:00:00,1.62,0.0,0.0
3,2018-12-02 14:00:00,1.63,0.0,0.0
4,2018-12-02 13:00:00,1.63,0.0,0.0

In [12]:
df=df.drop(columns= ['Current rainfall (mm)', 'Date/Time'])
df.shape

(78850, 2)

In [13]:
x= df.iloc[:,:1].values
y = df.iloc[:, 1:2].values

In [14]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [15]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [16]:
print(f"Weights: {model.coef_}")
print(f"Bias: {model.intercept_}")

Weights: [[9.64574704]]
Bias: [-13.43056018]

In [17]:
y_pred = model.predict(x_test)

In [18]:
from sklearn.metrics import mean_squared_error
print(f"Loss: {mean_squared_error(y_test, y_pred)}")

Loss: 6.3261618925241425

In [19]:
rainfall_amount = [[22]]
pred_rainfall = model.predict(rainfall_amount)

flood = True if pred_rainfall >= 1.5 else False

In [20]:
print(pred_rainfall)
print(flood)

[[198.77587465]]
True

In [21]:
filename = "final_model.sav"

In [22]:
import joblib
joblib.dump(model, filename)

['final_model.sav']